version: 2
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: weekly
    ignore:
    - dependency-name: "org.jenkins-ci.main:jenkins-core"
  open-pull-requests-limit: 10
  target-branch: master
  reviewers:
  - rda1ton
  - sboardwell
  labels:
  - skip-changelog
